.emptyCart {
    padding: 20px 0;
}

.zero_order {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.zero_order > p {
    text-align: center;
}

.empty_cart {
    display: flex;
}

.empty_cart > img {
    height: 200px;
    object-fit: contain;
}

.empty_card_right {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}