.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
}

.home_row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.carousel {
    z-index: 1;
    margin-bottom: -250px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.carousel-control-next,
.carousel-control-prev {
    top: -250px;
    opacity: 1;
}

.carousel-control-prev {
    left: 15px;
    display: flex;
    justify-content: flex-start;
}

.carousel-control-next {
    right: 15px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .carousel {
        margin-bottom: -200px;
    }
}